# Virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# Logs
*.log

# VS Code config (optional)
.vscode/

# Ignore all files inside cookies/
cookies/*

# But allow the folder itself and keep it visible
!cookies/.gitkeep

# OS junk
.DS_Store
Thumbs.db
venv/
